<h2>Update Prisoner file</h2>

<%= form_for @prisoner do |form| %>

  <%= label_tag :name %>

  <b><%= @prisoner.name %></b>
  <br>
  <%= label_tag :description %>
  <br>
  <%= form.text_area :description, placeholder: 'Description' %>
    <br>

  <%= label_tag :image_url %>
      <br>
  <%= form.text_field :image_url, placeholder: 'Image' %>
  
  <br>
  <%= submit_tag 'Update file!' %>
<% end %>
